

.profilebtns:hover {
    background-color: goldenrod;
    cursor: pointer;
}

.profile-input-div {
    display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items:center;
  /* margin: 2rem; */
}

.profile-input-div input {
    width: 40%;
    min-width: 160px;
}

.logout-btn {
    display: flex;
    justify-content: center;
    width: 20%;
    /* margin: 2rem; */
}

.profile-form {
    margin: 2rem;
}


@media screen and (min-width:0px) and (max-width:600px) {
    .profile-input-div input {
        width: 100%;
    }

    .custom-btn {
        width: auto;
    }
}