body{
  overflow:hidden;
}
.css_animation{
  background: #333333;
  overflow:hidden;
  padding-top:50px;
}

.css_animation .wrapper{
  position:relative;
  width: 100%;
  height:0;
  padding-top:78%;
  overflow:hidden;
}
.css_animation .wrapper div{
  position:absolute;
  margin-top:-17%;
  height: 34%;
  width:2%;
  border-radius:20px;
  top: 30%;
}
.css_animation .wrapper div:nth-of-type(1){
  animation: prop 17s 0.000s linear infinite;
}
.css_animation .wrapper div:nth-of-type(2){
  animation: prop 17s -16.227s linear infinite;
}
.css_animation .wrapper div:nth-of-type(3){
  animation: prop 17s -15.455s linear infinite;
}
.css_animation .wrapper div:nth-of-type(4){
  animation: prop 17s -14.682s linear infinite;
}
.css_animation .wrapper div:nth-of-type(5){
  animation: prop 17s -13.909s linear infinite;
}
.css_animation .wrapper div:nth-of-type(6){
  animation: prop 17s -13.136s linear infinite;
}
.css_animation .wrapper div:nth-of-type(7){
  animation: prop 17s -12.364s linear infinite;
}
.css_animation .wrapper div:nth-of-type(8){
  animation: prop 17s -11.591s linear infinite;
}
.css_animation .wrapper div:nth-of-type(9){
  animation: prop 17s -10.816s linear infinite;
}
.css_animation .wrapper div:nth-of-type(10){
  animation: prop 17s -10.045s linear infinite;
}
.css_animation .wrapper div:nth-of-type(11){
  animation: prop 17s -9.273s linear infinite;
}
.css_animation .wrapper div:nth-of-type(12){
  animation: prop 17s -8.500s linear infinite;
}
.css_animation .wrapper div:nth-of-type(13){
  animation: prop 17s -7.727s linear infinite;
}
.css_animation .wrapper div:nth-of-type(14){
  animation: prop 17s -6.955s linear infinite;
}
.css_animation .wrapper div:nth-of-type(15){
  animation: prop 17s -6.182s linear infinite;
}
.css_animation .wrapper div:nth-of-type(16){
  animation: prop 17s -5.409s linear infinite;
}
.css_animation .wrapper div:nth-of-type(17){
  animation: prop 17s -4.636s linear infinite;
}
.css_animation .wrapper div:nth-of-type(18){
  animation: prop 17s -3.864s linear infinite;
}
.css_animation .wrapper div:nth-of-type(19){
  animation: prop 17s -3.091s linear infinite;
}
.css_animation .wrapper div:nth-of-type(20){
  animation: prop 17s -2.318s linear infinite;
}
.css_animation .wrapper div:nth-of-type(21){
  animation: prop 17s -1.545s linear infinite;
}
.css_animation .wrapper div:nth-of-type(22){
  animation: prop 17s -0.773s linear infinite;
}


@keyframes prop{
  0%{
    background: red;
    left: -2%;
  }
  5%{
    background: #9337fe;
  }
  10%{
    height: 10%;
    margin-top: -5%;
    background: #3af9da;
  }
  20%{
    height: 34%;
    margin-top: -17%;
    background: #3af9da;
  }
  30%{
    height: 10%;
    margin-top: -5%;
    background: #54e678;
  }
  40%{
    height: 34%;
    margin-top: -17%;
    background: #3af9da;
  }
   50%{
    height: 10%;
    margin-top: -5%;
    background: #54e678;
  }
  60%{
    height: 34%;
    margin-top: -17%;
    background: #3af9da;
  }
  70%{
    height: 10%;
    margin-top: -5%;
    background: #54e678;
  }
  75%{
    background: #4df3a9;
  }
  80%{
    height: 34%;
    margin-top: -17%;
    background: #3af9da;    
  }  
  85%{
    background: #36ebf4;
  }
  90%{
    height: 10%;
    margin-top: -5%;
    background: #3db3f3;    
  }
  95%{
    background: #3c82f1;
  }
  100%{
    left:100%;
    heigth: 34%;
    margin-top: -17%;
    background: #5b38ee;
  }
}
