@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --theme:#20062e;
  --blue:#18b2de;
  --white:#fff;
  --grey:#d7d7d7;
  --purple-grey:#8f8297;
}

body {
  margin:0;
font-family: 'Inter', sans-serif;
-webkit-font-smoothing:antialised;
-moz-osx-font-smoothing:greyscale;
background-color: var(--theme);
color:var(--white);
}

input {
  font-family: 'Inter', sans-serif;
}

